.mod_wow_raid_progress_wotlk {
    max-width: 280px;
}

.mod_wow_raid_progress_wotlk ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mod_wow_raid_progress_wotlk li {
    margin: 0;
    padding: 0;
}

.mod_wow_raid_progress_wotlk .npcs {
    display: none;
}

.mod_wow_raid_progress_wotlk .npc {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 0 0 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mod_wow_raid_progress_wotlk .npc:last-child {
    border-bottom: none;
}

.mod_wow_raid_progress_wotlk .npcs.open {
    display: block;
}

.mod_wow_raid_progress_wotlk .header {
    position: relative;
    margin-top: 5px;
    height: 35px;
    padding-top: 15px;
    cursor: pointer;
}

.mod_wow_raid_progress_wotlk .header,
.mod_wow_raid_progress_wotlk a {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-weight: bolder;
    padding-left: 3px;
}

.mod_wow_raid_progress_wotlk .header .p {
    position: absolute;
    display: block;
    height: 5px;
    background: forestgreen;
    top: 0;
    left: 0;
}

.mod_wow_raid_progress_wotlk .header .k {
    float: right;
    padding: 3px;
}

.mod_wow_raid_progress_wotlk .normal,
.mod_wow_raid_progress_wotlk .heroic {
    display: inline-block;
    float: right;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center center;
}

.mod_wow_raid_progress_wotlk .normal {
    background-image: url('./images/normal.png');
}

.mod_wow_raid_progress_wotlk .heroic {
    background-image: url('./images/heroic.png');
}

.mod_wow_raid_progress_wotlk .z4987 {
    background: url('images/z4987.jpg') no-repeat top left;
}

.mod_wow_raid_progress_wotlk .z4812 {
    background: url('images/z4812.jpg') no-repeat top left;
}

.mod_wow_raid_progress_wotlk .z2159 {
    background: url('images/z2159.jpg') no-repeat top left;
}

.mod_wow_raid_progress_wotlk .z4722 {
    background: url('images/z4722.jpg') no-repeat top left;
}

.mod_wow_raid_progress_wotlk .z4273 {
    background: url('images/z4273.jpg') no-repeat top left;
}

.mod_wow_raid_progress_wotlk .z4493 {
    background: url('images/z4493.jpg') no-repeat top left;
}

.mod_wow_raid_progress_wotlk .z4500 {
    background: url('images/z4500.jpg') no-repeat top left;
}

.mod_wow_raid_progress_wotlk .z3456 {
    background: url('images/z3456.jpg') no-repeat top left;
}